.popup__info {
    max-width: 358px;
    width: 100%;
    max-height: 27px;
}
.popup__info:last-of-type{
    margin-top: 30px;
}

@media screen and (max-width: calc(320px + 20px)) {
    .popup__info {
        max-width: 238px;
        width: 100%;
    }
}