.popup__line {
    max-width: 358px;
    width: 100%;
    opacity: 0.2;
    border: 1px solid #000000;
}

@media screen and (max-width: calc(320px + 20px)) {
    .popup__line {
        max-width: 238px;
        width: 100%;
    }
}