.popup__info__input_name {
    max-width: 358px;
    width: 100%;
    margin-bottom: 13px;
    border: none;
}

.popup__info__input_description {
    max-width: 358px;
    width: 100%;
    margin-bottom: 13px;
    border: none;
}

@media screen and (max-width: calc(320px + 20px)) {
    .popup__info__input_name {
        max-width: 238px;
        width: 100%;
    }

    .popup__info__input_description {
        max-width: 238px;
        width: 100%;
    }
}