.profile__popup-open {
    background: url(../../../images/Edit_Button.svg);
    background-color: #000000;
    border: 1px;
    border-color: white;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    cursor: pointer;
}

.profile__popup-open:hover {
    opacity: 0.6;
}

@media screen and (max-width: calc(768px + 20px)) {
    .profile__popup-open {
        width: 18px;
        height: 18px;
        padding: 0;
    }
}