.popup__close {
    background: url('../../../images/closeIcon.png');
    width: 32px;
    height: 32px;
    margin-left: 40px;
    margin-bottom: 8px;
    border: 0;
    align-self: end;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: calc(320px + 20px)) {

    .popup__close {
        width: 20px;
        height: 20px;
        margin: 0;
        margin-bottom: 16px;
        padding: 0;
    }
}