.profile-info__popup-open {
    background: url(../../../../images/EditButton.png);
    background-color: #000000;
    border: 2px;
    border-color: white;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    cursor: pointer;
}

.profile-info__popup-open:hover {
    opacity: 0.6;
}

@media screen and (max-width: calc(768px + 20px)) {
    .profile-info__popup-open {
        border: 1px;
        width: 18px;
        height: 18px;
        padding: 0;
    }
}

@media screen and (max-width: calc(320px + 20px)) {
    .profile-info__popup-open {
        border: 1px;
        width: 18px;
        height: 18px;
        padding: 0;
    }
}